/* fixed top-0 bottom-0 left-0 right-0 bg-black opacity-60 z-50  */

.containerOverlay {
position: fixed;
top:0;
bottom: 0;
left:0;
right: 0;
background-color: black;
opacity: 0.6;
z-index: 30;
}

/* fixed left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] bg-white z-50 shaddow-lg rounded w-[70%] lg:w-[80%] md:w-[90%] sm:w-[95%]  overflow-hidden md:overflow-y-scroll */

.containerOverlayWrapper {
    position:fixed;
    left:50%;
    top: 50%;
   margin-left: -22%;
    transform:translateY(-50%);
    background-color: white;
    z-index: 50;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 10px;



    

}