.normal{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px; 
}
.error{
    color:red;
    border: 2px solid red;
}
.error-message{
    color:red;
}
.label-textfield{
    font-weight: bold;
    margin-top: 5px;
}